body,html{
    margin:0px;
    padding:0px;
}

#main{
    width:100%;
}

.wrapper{
    width:1200px;
    margin:0 auto;
    position:relative;
}

.header_wrapper{
    width:100%;
    margin:0 auto;
    position:relative;
    background-color:#333;
}

.header{
    width: 1200px;
    position:relative;
    height: 115px;
    margin-top:0px;
    margin:0 auto;
}

.home-content{
    position:relative;
    overflow:hidden;
    top:90px;
    min-height:1050px;
}
.logo{
    width: 250px;
    float: left;
}

.logo img{
    margin-top:5px;
    width: 260px;
    height: 75px;
width: 250px;
float: left;
}

.logo img{
margin-top:5px;
width: 250px;
height: 85px;
}
.logo_text{width:250px;height:20px;}
.logo_text b{
    font-size:14px;
    margin-left:60px;
    font-family:Arial;
    color:#fff;
}

a {
    color: #09f;
}
a:hover {
    text-decoration: none;
}

.fluid_container {
    margin: 0;
    max-width: 100%;
    width: 100%;
}
div.social{
    /*margin:-75px 0 15px 1250px;*/
}
div.social{
position:relative;
width:77px;
height:77px;
margin:0px;
margin:-55px 0 15px 1100px;
}
div.social a{cursor:pointer;}


.social li img{
width:33px;
height:33px;
}
div.leng{
width:100px;
height:85px;
min-height:80px;
margin:-60px 0px 0px 0px;}

.leng a{
color:#006666;
}
.srb{
border-bottom:1px solid #006666;
}
