body,html{
margin:0px;
padding:0px;
}

#main{
width:100%;
}

.wrapper{
width:1200px;
margin:0 auto;
position:relative;
}
.header_wrapper{
width:100%;
margin:0 auto;
position:relative;
background-color:#333;
}

.header{
width: 1200px;
position:relative;
height: 135px;
margin-top:0px;
margin:0 auto;
}


.home-content{
position:relative;
overflow:hidden;
top:90px;
min-height:1050px;
}
.logo{
width: 300px;
float: left;
}

.logo img{
margin-top:0px;
width: 270px;
height: 95px;
}

.logo_text b{
font-size:19px;
margin-left:60px;
font-family:Arial;
color:#fff;
}
