body,html{
    margin:0px;
    padding:0px;
}

.main{
    width:100%;
    height:100%;
}

.wrapper{
    width:1200px;
    margin:0 auto;
    position:relative;
}
#header-2{
    width: 100%;
    z-index: 16;
}

.header_wrapper{
    width:100%;
    margin:0 auto;
    position:relative;
    background-color:#333;
}

.header{
    width: 1200px;
    position:relative;
    height: 90px;
    margin-top:0px;
    margin:0 auto;
}


.home-content{
    position:relative;
    overflow:hidden;
    top:90px;
    min-height:1050px;
}
.logo{
    width: 250px;
    float: left;
}

.logo img{
    margin-top:5px;
    width: 260px;
    height: 75px;
    width: 250px;
    float: left;
}

.logo img{
    margin-top:5px;
    width: 230px;
    height: 70px;
}
.logo_text{
    width:230px;
    height:15px;
    margin-left:15px;
}

.logo_text b{
    font-size:13px;
    margin-left:60px;
    font-family:Arial;
    color:#fff;
}

a {
    color: #09f;
}
a:hover {
    text-decoration: none;
}

.fluid_container {
    margin: 0;
    max-width: 100%;
    width: 100%;
}
div.social{
    position:relative;
    width:110px;
    height:77px;
    margin:0px;
    margin:-46px 0 15px 1000px;
}
div.social a{
    cursor:pointer;
}
div.social a{
    cursor:pointer;
}
.social li img{
    width:33px;
    height:33px;
}
div.leng{
    width:100px;
    height:85px;
    min-height:80px;
    margin:-60px 0px 0px 0px;}

.leng a{
    color:#006666;
}
.srb{
    border-bottom:1px solid #006666;
}
.header-scroll{
    position:fixed;
    margin-top: 0;
    top: 0;
}
.banner{

    height:350px;
}

div.aboutus p{
    font-size:14px;
    color:#338585;
    text-align:justify;
}

footer {
    /*position:fixed;*/
    padding-top:20px;
    left:0px;
    bottom:0px !important;
    height:270px;
    width:100%;
    background:#333;
    z-index: 17;
}


#footer_div{
    width:15%;
    height: 190px;
    display: block;
    font-family: "Myriad Pro", "Trebuchet MS", sans-serif;
}
.footer_elements{
      border-left: 1px solid white;
      padding-left: 20px;
}

footer #center_right ul li{
    list-style-type:none;
    float:left;
	margin-top:-10px;
}
footer ul{
    padding-left: 0px;
    list-style-type:none;
    /*margin-left:45px;*/
}
footer ul li{
    list-style-type:none;
    /*margin-left:45px;*/
}
footer ul li a{
    cursor:pointer;
    color:#989697;
}
footer ul li a:hover{
    color:#A1001D;
}

footer #center_right ul li img{
    width:25px;
    height:25px;
	opacity:0.3;
	margin-right:15px;
}
div#copyright{
    /*width:100%;*/
    height:40px;
    background-color:#333;
    border-top: 1px solid white;
}
div#copyright_text{
    height:40px;
    width:50%;
    margin-left: 50%;
    text-align: left;
    vertical-align: middle;
    display: table-cell;
}
.footer_logo{
    height:40px;
    float:left;
    width: 50%;
    text-align: right;
}

#footer_wrapper{
    display: block;
    /*margin-left: 50px;*/
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

h5{
    color: #989697;
    text-transform: uppercase;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 20px;
}
div#center_right img:hover{
opacity:1;
}
div#vector{
text-align:center;
width:580px;
height:80px;
margin:0 auto;
}
#vector img{
cursor:pointer;
opacity:0,5;
float:left;
margin-right:30px;
}
div#vector{
opacity:1;
filter: alpha(opacity=40);
}
div#num_openpos {
width:30px;
height:30px;
line-height:30px;
margin:-50px 0px 20px 27px;
position:float;
}
div#openpos a{
text-decoration:none;
color: #989697;
font-size:16px;
font-weight: bold;
display:block;
}
